<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
  <title>Chat</title>
</head>
<body>
  <div class="container">
    <div class="text-right mt-3">
      Joined as <span id="joined-as"></span>
    </div>
    <div class="d-flex justify-content-between mt-3">
      <div>
        Total Users:
        <span id="total-users"></span>
      </div>
      <div>
        <button type="button" class="btn btn-danger" id="leave-button">Leave</button>
      </div>
    </div>
    <ul id="messages"></ul>
    <form>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Send a message" autocomplete="off">
      </div>
    </form>
    <h3>Joined Users</h3>
    <ul id="joined-users"></ul>
  </div>

  {{ script('https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/6.26.0/polyfill.min.js') }}
  {{ script('https://unpkg.com/@adonisjs/websocket-client@1.0.9/dist/Ws.browser.js') }}
  {{ script('https://code.jquery.com/jquery-3.5.0.min.js') }}
  {{ script('https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js') }}
  {{ script('/client.js') }}
</body>
</html>
